:root {
    --primary-color:#e8daef;
    --secondary-color: #8e44ad;
    --background-color: black;
    --text-color: #8e44ad;
    --border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    text-align: center;
    padding: 20px;
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 30px 0;
    margin-bottom: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5rem;
    font-weight: 700;
}


nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(7, 7, 7);
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: var(--secondary-color);
    color: rgb(23, 16, 16);
    border-radius: var(--border-radius);
}


section {
    margin: 20px auto;
    padding: 20px;
    width: 90%;
    max-width: 1200px;
}


form {
    margin: 20px auto;
    padding: 30px;
    width: 90%;
    max-width: 600px;
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

form table {
    width: 100%;
    margin-bottom: 20px;
}

form input, form textarea {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    font-size: 1rem;
    transition: all 0.3s ease;
}

form input:focus, form textarea:focus {
    border-color: var(--secondary-color);
    outline: none;
    box-shadow: 0 0 5px rgba(231, 76, 60, 0.5);
}

form input[type="submit"] {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.2rem;
    padding: 15px 30px;
}

form input[type="submit"]:hover {
    background-color: #8e44ad;
}

form table tr td {
    padding: 10px;
}